.cards__item {
  margin-right:18px;
  margin-bottom: 21px;
  position: relative;
}

.cards__item:nth-child(3n) {
  margin: 0;
}

@media screen and (max-width:880px){
  .cards__item:nth-child(3n) {
      margin-right:18px;
      margin-bottom: 21px;
  }
}

@media screen and (max-width: 400px){

  .cards__item {
      margin: auto;
      margin-bottom: 20px;
  }

  .cards__item:nth-child(3n) {
     margin: auto;
     margin-bottom: 20px;
  }

}
